- name: Update apt cache
  ansible.builtin.apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Install Apache and dependencies
  ansible.builtin.apt:
    name: "{{ packages }}"
    state: present
  notify: restart apache

- name: Ensure Apache is started and enabled
  ansible.builtin.service:
    name: "{{ apache_service }}"
    state: started
    enabled: yes

- name: Deploy custom index.html from template
  ansible.builtin.template:
    src: index.html.j2
    dest: "{{ document_root }}/index.html"
    owner: www-data
    group: www-data
    mode: '0644'
  notify: restart apache
